In [15]:
import pandas as pd

data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
    "Refund": ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Marital status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income': [125000, 10000, 70000, 120000, 950000, 60000, 220000, 85000, 75000, 90000],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print(df)

   Tid Refund Marital status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married           10000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced          950000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9    0     No         Single           90000   Yes

In [17]:
s= df.loc[[0,4,7,8]]
print(s)

   Tid Refund Marital status  Taxable Income Cheat
0    1    Yes         Single          125000    No
4    5     No       Divorced          950000   Yes
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No

In [19]:
r=df.iloc[3:8]
print(r)

   Tid Refund Marital status  Taxable Income Cheat
3    4    Yes        Married          120000    No
4    5     No       Divorced          950000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes

In [23]:
t=df.iloc[4:9,2:5]
print(t)
u=df.iloc[:,1:4]
print(u)

  Marital status  Taxable Income Cheat
4       Divorced          950000   Yes
5        Married           60000    No
6       Divorced          220000    No
7         Single           85000   Yes
8        Married           75000    No
  Refund Marital status  Taxable Income
0    Yes         Single          125000
1     No        Married           10000
2     No         Single           70000
3    Yes        Married          120000
4     No       Divorced          950000
5     No        Married           60000
6    Yes       Divorced          220000
7     No         Single           85000
8     No        Married           75000
9     No         Single           90000

In [30]:
import pandas as pd

d = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print("\nFirst five rows of Iris dataset:\n",d.head())
#A5
f = d.drop(index=4, columns=d.columns[2])
print("\nModified Iris dataset:\n",f)

First five rows of Iris dataset:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Modified Iris dataset:
      sepal_length  sepal_width  petal_width    species
0             5.1          3.5          0.2     setosa
1             4.9          3.0          0.2     setosa
2             4.7          3.2          0.2     setosa
3             4.6          3.1          0.2     setosa
5             5.4          3.9          0.4     setosa
..            ...          ...          ...        ...
145           6.7          3.0          2.3  virginica
146           6.3          2.5          1.9  virginica
147           6.5          3.0          2.0  virginica
148           6.2          3.4          2.3  virginica
149           5.9          3.0          1.8  virginica

[149 rows x 4 columns]